// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#status-bar {
  position:absolute;
  top: 0px;
  left: 0px;
}
#gameArea{
  height: 716px;
  width: 100%;
  z-index:-1;
}
